
#wrapper {
  background-color: white;
  height:300px;
}

.image-container {
  width:950px;
  margin-left: 10px;
  margin-right: 10px;
}

.image{
 height: 250px; width: 250px;
 float: left;
 margin-top:10px;
 margin-right: 19px;
}
