<h1>Videos & Photos</h1>
<p>Brush up on your wilderness survival skills, learn about the latest gear trends, stay up to date on backpacking news, and get your cute animal fix with wilderness videos and photos compiled by the experts at Backpacker Magazine.</p>



<div id="wrapper">
  <img class="image" src="https://images.unsplash.com/photo-1482227315428-5d13b43f7f15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=30d544fc4db73f85dc42b69bf2133f1a&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1503614524565-4b5e78b8547d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=219305a2ccd98fe3caa47cd9b1279e6c&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1463694775559-eea25626346b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b70b5bfe6dd76af60651bb413d96f11&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1447117219916-d8cb5f373434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b606af106c6b78897acb467975b60a23&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1512680139180-d0b40cf7de41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=150ebd5d10184bcf0cbb36510f499a01&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1502021680532-838cfc650323?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27c7995338f3d45d1716f115589600a8&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1518623380242-d992d3c57b37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=009a0fa0da7c86368e810557b7273dfb&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1500847935426-d5ed311b99ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4c98ee09c73b2b2522f71a1299f21db&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1503751071777-d2918b21bbd9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6407ad0804025755204bf7807272761a&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1459356979461-dae1b8dcb702?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b8f71c495f16c7d7e5758af7fd371aef&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1461948573049-a5ab4efb6150?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=08462790e03b2d3c0b6ffda5c096a65f&auto=format&fit=crop&w=800&q=60">
  <img class="image" src="https://images.unsplash.com/photo-1449459831403-2ea2681d4270?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a1d4864e5499d97be0ec67ac5a435dcd&auto=format&fit=crop&w=800&q=60">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- line breaks to push footer to bottom of page -->
