#map {
  height: 220px;
  width: 60%;
}

img {
  width: 250px;
  height: 300px;
}

.card {
  height: calc(100% - 15px);
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  align-items: center;
}

#hike-locations {
  text-align: center;
  align-items: center;
}
