<h1>Local Hikes</h1>
<p>Now, BACKPACKER is in your hometown. On our local city pages, our Trail Scouts collect the best hikes, news, events, and more for cities around the U.S., so you can get out more. Select the city closest to you, and get hiking.</p>


<div *ngFor="let hike of hikes" (click)="goToDetailPage(hike)">
    <h3><em>{{hike.title}}</em> {{hike.distance}}</h3>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="oregon">
        <img src="https://images.unsplash.com/photo-1520056144227-4ce86fde870b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ecdab40d8eb33d2424755ef987fffd4c&auto=format&fit=crop&w=700&q=60" alt="">
        <div id="oregon-bottom-right">Oregon Hikes</div>
      </div>
    </div>
    <br>
    <div class="col-md-4">
      <div id="colorado">
      <img src="https://images.unsplash.com/photo-1508446760803-1afec7c2b6fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b440ae7adc1ce6a93f23f40fa05a5757&auto=format&fit=crop&w=700&q=60" alt="">
      <div id="colorado-bottom-right">Colorado Hikes</div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="sanfran">
      <img src="https://images.unsplash.com/photo-1504163743-92467859cf8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac391367a605984af2c254a61def13da&auto=format&fit=crop&w=700&q=60" alt="">
      <div id="sanfran-bottom-right">San Francisco Hikes</div>
      </div>
    </div>
  </div>
</div>

<a routerLink="hike-detail">HIKE DETAILS</a>
