<h1>Local Hikes</h1>
<p>Now, BACKPACKER is in your hometown. On our local city pages, our Trail Scouts collect the best hikes, news, events, and more for cities around the U.S., so you can get out more. Select the city closest to you, and get hiking.</p>

<div class="container">
  <div id="hike-locations">
    <h2>Find A Trail</h2>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-3" *ngFor="let hike of hikes | async | slice:3:2; let i=index">
        <div class="card border-light">
          <img class="mx-auto d-block" src={{hike.image}}>
          <div class="card-body">
            <p class="card-text">{{hike.location}}</p>
            <a (click)="goToDetailPage(hike)"><em>learn more...</em></a>
            <br>
            <div *ngIf="currentRoute === '/admin'">
             <hr>
             <app-edit-hike [selectedHike]="hike"></app-edit-hike>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center">
      <div class="col-sm-3" *ngFor="let hike of hikes | async">
        <div class="card border-light">
          <img class="mx-auto d-block" src={{hike.image}}>
          <div class="card-body">
            <p class="card-text">{{hike.location}}</p>
            <a (click)="goToDetailPage(hike)"><em>learn more...</em></a>
            <br>
            <div *ngIf="currentRoute === '/admin'">
             <hr>
             <app-edit-hike [selectedHike]="hike"></app-edit-hike>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
