#map {
  height: 220px;
  width: 60%;
}

img {
  width: 200px;
  height: 200px;
}

.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

.card-title {
  font-weight: bold;
}

.card-body {
  font-weight: 100;
}
