#map {
  height: 220px;
  width: 60%;
}

img {
  width: 300px;
  height: 400px;
}

#oregon {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 2px;
}

#oregon-bottom-right {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#colorado {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 2px;
}

#colorado-bottom-right {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#sanfran {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 2px;
}

#sanfran-bottom-right {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
