<div class="row">
  <div class="col-md-3">
    <img src="https://www.backpacker.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_1024/MTUzMjExMTEzMzAxODc4Mzky/atlantic-peak.webp"  width="200" height ="200" alt="">
    <p>Jeremiah LaRocco</p>
  </div>
  <div class="col-md-9">


  <h1>Denver Trails</h1>

  <p>OThe Mile-High City enjoys an embarrassment of riches when it comes to hiking: Everything from the grandeur of Rocky Mountain National Park to the Indian Peaks Wilderness to the Collegiate Peaks and beyond lies within a few hour's drive of the capital city. How do you choose? Start with these five favorites from lifelong local Heather Balogh Rochfort.</p>

  <h6>Alantic Peak</h6>
  <p>Trailhead: Mayflower Gulch</p>
  <p>Mileage: 4 miles round-trip</p>
  <p>Elevation gain: 2,500 feet (it's steep!)</p>
  <p>Drive from town: 90 minutes</p>
  <p>This 13er is near Copper Mountain and combines rugged, high-altitude beauty with historical artifacts. The approach trail passes through the remnants of Boston Mine, a once-thriving mining camp from the late 19th century. The hike itself is rugged and you end up bushwhacking your way up to the ridgeline, making it a fun jaunt for adventurous types.</p>
  </div>
</div>
