<h4>Edit Hike</h4>
<h5>{{selectedHike.title}}</h5>

<label>New Hike Title:</label>
<input [(ngModel)]="selectedHike.title">
<br>

<label>New Hike Location:</label>
<input [(ngModel)]="selectedHike.location">

<label>New Hike Distance:</label>
<input [(ngModel)]="selectedHike.distance">
<br>

<label>New Hike Image:</label>
<input [(ngModel)]="selectedHike.image">

<label>Second Hike Image:</label>
<input [(ngModel)]="selectedHike.image2">

<button class="btn btn-dark" (click)="beginUpdatingHike(selectedHike)">Update Hike</button>
<br>
<br>
<button class="btn btn-dark" (click)="beginDeletingHike(selectedHike)">Delete Hike</button>
