<div class="jumbotron">
  <p routerLink=""><strong>{{title}}magazine</strong></p>
  <div class="well">
    <nav class="navbar1">
      <a routerLink="gear">GEAR</a> |
      <a routerLink="survival">SURVIVAL</a> |
      <a routerLink="images">VIDEOS & PHOTOS</a> |
      <a routerLink="hikes">LOCAL HIKES</a> |
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isLoggedIn">
          <a>{{userName}}</a>
          <a (click)="logout()">Log out</a>
        </li>
        <li *ngIf ="!isLoggedIn">
          <a (click)="login()">Log in</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<div class="container">
  <router-outlet></router-outlet>
  <app-home></app-home>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
    <p>Backpacker Magazine</p>
    <p><em>© 2018 Cruz Bay Publishing, Inc. an Active Interest Media Company.</em></p>
  </div>
</footer>
