<div class="jumbotron">
  <p routerLink=""><strong>{{title}}</strong></p>
  <div class="well">
    <nav class="navbar1">
      <a routerLink="gear">GEAR</a> |
      <a routerLink="trips">TRIPS</a> |
      <a routerLink="skills">SKILLS</a> |
      <a routerLink="survival">SURVIVAL</a> |
      <a routerLink="media">NEWS & EVENTS</a> |
      <a routerLink="images">VIDEOS & PHOTOS</a> |
      <a routerLink="stories">STORIES</a> |
      <a routerLink="hikes">LOCAL HIKES</a> |
    </nav>
  </div>
</div>



<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
    <p>Backpacker Magazine</p>
    <p><em>Copyright 2018</em></p>
  </div>
</footer>
