<h1>{{title}}</h1>
<nav class="navbar1">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Backpacker</a>
    </div>
    <div class="navbar1">
      <h3><a routerLink="gear">GEAR</a></h3>
      <h3><a routerLink="trips">TRIPS</a></h3>
      <h3><a routerLink="skills">SKILLS</a></h3>
      <h3><a routerLink="survival">SURVIVAL</a></h3>
      <h3><a routerLink="media">NEWS & EVENTS</a></h3>
      <h3><a routerLink="images">VIDEOS & PHOTOS</a></h3>
      <h3><a routerLink="stories">STORIES</a></h3>
      <h3><a routerLink="hikes">LOCAL HIKES</a></h3>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
    <p>Backpacker Magazine</p>
    <p><em>Copyright 2018</em></p>
  </div>
</footer>
