<div *ngIf="isLoggedIn">
  <div>
    <app-hikes></app-hikes>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Hike to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Hike Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Hike Location:</label>
        <br>
        <input #newLocation>
      </div>

      <div>
        <label>Hike Distance:</label>
        <br>
        <input #newDistance>
      </div>

      <div>
        <label>Hike Content:</label>
        <br>
        <textarea #newContent></textarea>
      </div>

      <div>
        <label>Hike Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Hike second Image:</label>
        <br>
        <input #newImage2>
      </div>

      <br>
      <button (click)="submitForm(newTitle.value, newLocation.value, newDistance.value, newContent.value, newImage.value, newImage2.value); newTitle.value=''; newLocation.value=''; newDistance.value=''; newContent.value=''; newImage.value; newImage2.value" class="btn btn-dark">Post Article</button>
    </div>
  </div>
</div>
<br>
<br>
<div *ngIf="!isLoggedIn" class="container">
<p>You need to log in to have access to this page.<a routerLink=""> Return home.</a></p>
</div>
