<div class="row">
  <div class="col-md-3">
    <img src="https://www.backpacker.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_640/MTQ0OTE0MTE0ODA4MTI5MDg5/ice-lake-eagle-cap-wilderness-oregon.webp"  width="200" height ="200" alt="Sunset views while hiking in the Oregon Eagle Cap Wilderness">
    <p>Joe Whittle</p>
  </div>
  <div class="col-md-9">

    <div class="well">
      <h1>{{(hikeToDisplay | async)?.location}}</h1>
    </div>

    <div class="container" id="hike-display">
      <p>{{(hikeToDisplay | async)?.content}}</p>
    </div>


<div id="map"></div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVGrwkLoI-DY42RWuGn8FKkUWv_ErYs8&callback=initMap">
</script>
