<div class="jumbotron" id ="jumbotron1">
   <h2>GEAR</h2>
   <button type="button" name="button" class="btn btn-primary">LEARN MORE</button>
 </div>
 <div class="jumbotron" id ="jumbotron2">
  <div class="hero5">
   <h2>SURVIVAL</h2>
   <button id="button1" type="button" name="button" class="btn btn-primary">LEARN MORE</button>
 </div>
 </div>
 <div class="jumbotron" id ="jumbotron3">
   <h2>LOCAL HIKES</h2>
   <button type="button" name="button" class="btn btn-primary">LEARN MORE</button>
 </div>
 <div class="jumbotron" id ="jumbotron4">
   <h2>VIDEOS & PHOTOS</h2>
   <button type="button" name="button" class="btn btn-primary">LEARN MORE</button>
 </div>
